/*general styles*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: center;
}

html,
body{
    height: 100%;
    width: 100%;
    overflow-y: hidden;
}

.fp-overflow{
    height: 100vh;
}
/* end general styles*/


/*header navigation styles*/
.header{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 999999;
}

.header nav{
    max-width: 1366px;
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    display: grid;
    grid-template-columns: 49.2% 50.8% 0;
    align-items: center;
}

.header .burger{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
    cursor: pointer;
}

.header .burger div{
    display: block;
    height: 1px;
    width: 20px;
    background-color: #1B1614;
}

.logo{
    font-family: 'Somatic Rounded', sans-serif;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #1B1614;
}
/* end header navigation styles*/


/*common styles*/
.numbering{
    font-family: 'Plantagenet Cherokee', sans-serif;
    font-size: 50px;
    color: rgba(27, 22, 20, 0.77);
}

.paragraph{
    font-family: 'Somatic Rounded', sans-serif;
    font-style: normal;
    line-height: 25px;
    font-size: 14px;
}

.title{
    font-family: 'Plantagenet Cherokee', sans-serif;
    font-weight: 100;
    text-transform: uppercase;
    font-size: 70px;
    line-height: 70px;
}

.container{
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.btn-common{
    border: solid 1px #1B1614;
    background-color: transparent;
    padding: 20px 60px;
    font-family: 'Somatic Rounded', sans-serif;
    color: #1B1614;
    font-size: 13px;
    letter-spacing: 2px;
    cursor: pointer;
    transition: all 0.5s ease;
}

.btn-common:hover{
    border: solid 1px transparent;
    background-color: #1B1614;
    color: #efefef;
}
/*end common styles*/

.fp-is-overflow>.fp-overflow{
    height: max-content;
}

.fp-scrollable.fp-responsive .fp-is-overflow.fp-section{
    min-height: max-content;
}

@media (max-width: 992px) {
    .btn-common{
        padding: 2vw 5vw;
        max-width: 200px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .page-main{
        -ms-overflow-style: none;
        scrollbar-width: none;
    }

    .page-main::-webkit-progress-bar{
        display: none;
    }
}


@media (max-width: 768px) {
    .title{
        font-size: 36px;
        line-height: 40px;
    }

    .header nav{
        display: flex;
        justify-content: space-between;
    }

}



@media (max-width: 576px) {
    .title{
        font-size: 26px;
    }

    .title br{
        display: none;
    }

    .btn-common {
        padding: 15px 30px;
    }

    .numbering{
        font-size: 30px;
    }
}