/*general styles*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: center;
}

html,
body{
    height: 100%;
    width: 100%;
    overflow-y: hidden;
}

.fp-overflow{
    height: 100vh;
}

.fp-is-overflow>.fp-overflow{
    height: max-content;
}

.fp-scrollable.fp-responsive .fp-is-overflow.fp-section{
    min-height: max-content;
}
/* end general styles*/


/*header navigation styles*/
.header{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 9999;
}

.header nav{
    max-width: 1366px;
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    display: grid;
    grid-template-columns: 49.2% 50.8% 0;
    align-items: center;
}

.header .burger{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: max-content;
    padding: 7px;
    gap: 4px;
    cursor: pointer;
}

.header .burger div{
    display: block;
    height: 1px;
    width: 20px;
    background-color: #1B1614;
    transition: all 0.5s ease;
}

.logo{
    font-family: 'Somatic Rounded', sans-serif;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #1B1614;
    transition: all 0.5s ease;
}
/* end header navigation styles*/


/*navigation styles*/
.navigation-wrapper{
    position: fixed;
    height: 0;
    width: 100vw;
    top: 0;
    left: 0;
    z-index: 1111;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s linear;
}

.navigation-wrapper .overlay{
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.56);
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s linear;
    z-index: 1111;
}

.navigation-wrapper .navigation{
    position: relative;
    height: 50%;
    width: 100%;
    background-color: #1B1614;
    z-index: 2222;
    transform: translateY(-100vh);
    transition: all 0.5s ease;
    overflow: hidden;
}

.navigation-wrapper .navigation ul{
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    padding: 50px 0;
    gap: 30px;
    max-width: 1366px;
    width: 100%;
    height: 100%;
    position: relative;
    margin: 0 auto;
    z-index: 99999;
}

.navigation-wrapper .navigation ul li {
    position: relative;
    padding-bottom: 20px;
    cursor: pointer;
}

.navigation-wrapper .navigation ul li a{
    font-family: 'Somatic Rounded', sans-serif;
    padding: 7px 15px;
    font-size: 10px;
    color: rgba(239, 239, 239, 0.65);
    text-transform: uppercase;
    letter-spacing: 1px;
}

.navigation-wrapper .navigation ul li::after{
    position: absolute;
    bottom: 0;
    left: 0;
    content: '';
    height: 1px;
    width: 100%;
    background-color: rgba(239, 239, 239, 0.65);
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s linear;
}

.navigation-wrapper .navigation ul li:hover::after{
    visibility: visible;
    opacity: 1;
}

.navigation-wrapper .navigation-gallery{
    position: absolute;
    top: 32%;
    right: 5%;
    transform: translateY(100vh);
    z-index: 33333;
    overflow: hidden;
    transition: visibility 0s, opacity 0.5s linear;
}

.navigation-wrapper .gallery-wrapper{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0 30px;
}

.navigation-wrapper .gallery-wrapper .image-wrapper{
    height: 35vh;
    width: 15vw;
}

.navigation-wrapper .btn-common{
    color: #efefef;
    border-bottom: solid 1px rgba(239, 239, 239, 0.52);
}

.navigation-wrapper .btn-common:hover{
    background-color: #efefef;
    color: #1B1614;
}
/* end navigation styles*/


/*javascript styles*/
body.navigation-open .logo{
    color: #efefef;
}

body.navigation-open .burger div{
    background-color: #efefef;
}

body.navigation-open .burger .line-1{
    transform: rotate(-45deg) translate(-2px, 2px);
}

body.navigation-open .burger .line-2{
    transform: rotate(45deg) translate(-2px, -1px);
}

body.navigation-open .navigation-wrapper{
    height: 100vh;
    visibility: visible;
    opacity: 1;
}

body.navigation-open .navigation-wrapper .navigation-gallery{
    transform: translateY(0vh);
}

body.navigation-open .navigation-wrapper .overlay{
    visibility: visible;
    opacity: 1;
}

body.navigation-open .navigation-wrapper .navigation{
    transform: translateY(0vh);
}
/* end javascript styles*/


/*common styles*/
.numbering{
    font-family: 'Plantagenet Cherokee', sans-serif;
    font-size: 50px;
    color: rgba(27, 22, 20, 0.77);
}

.paragraph{
    font-family: 'Somatic Rounded', sans-serif;
    font-style: normal;
    line-height: 25px;
    font-size: 14px;
}

.title{
    font-family: 'Plantagenet Cherokee', sans-serif;
    font-weight: 100;
    text-transform: uppercase;
    font-size: 70px;
    line-height: 70px;
}

.page-main .container{
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.btn-common{
    border: solid 1px transparent;
    border-bottom: solid 1px #1B1614;
    background-color: transparent;
    padding: 20px 60px;
    font-family: 'Somatic Rounded', sans-serif;
    color: #1B1614;
    font-size: 13px;
    letter-spacing: 2px;
    cursor: pointer;
    transition: all 0.5s ease;
}

.btn-common:hover{
    border: solid 1px transparent;
    background-color: #1B1614;
    color: #efefef;
}
/*end common styles*/

@media (max-width: 1280px) {

    .navigation-wrapper .gallery-wrapper .image-wrapper{
        height: 20vw;
    }

    .navigation-wrapper .btn-common{
        padding: 1.5vw 3vw;
    }
}

@media (max-width: 1080px) {
    .navigation-wrapper .navigation{
        height: 65%;
    }

    .navigation-wrapper .navigation-gallery{
        top: 10%;
        right: 2%;
    }
}

@media (max-width: 992px) {

    .btn-common{
        padding: 2vw 5vw;
        max-width: 200px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .navigation-wrapper .btn-common{
        max-width: 150px;
    }

    .page-main{
        -ms-overflow-style: none;
        scrollbar-width: none;
    }

    .page-main::-webkit-progress-bar{
        display: none;
    }

    .navigation-wrapper .navigation ul{
        padding: 12px 0;
    }


    .navigation-wrapper .navigation-gallery{
        top: 15%;
    }

    .navigation-wrapper .gallery-wrapper{
        align-items: flex-start;
        flex-direction: row-reverse;
        gap: 0 20px;
    }

    .navigation-wrapper .gallery-wrapper .image-wrapper{
        height: 28vw;
        width: 20vw;
    }
}


@media (max-width: 768px) {

    .title{
        font-size: 36px;
        line-height: 40px;
    }

    .header nav{
        display: flex;
        justify-content: space-between;
    }

}

@media (max-width: 576px) {
    .title{
        font-size: 26px;
    }

    .title br{
        display: none;
    }

    .btn-common {
        padding: 15px 30px;
    }

    .numbering{
        font-size: 30px;
    }

    .navigation-wrapper .btn-common{
        position: fixed;
        top: 70%;
        left: 20px;
        padding: 15px 55px;
        max-width: max-content;
    }

    body.navigation-open .navigation-wrapper .navigation{
        min-height: 100vh;
        height: max-content;
        padding-top: 70px;
    }

    .navigation-wrapper .navigation-gallery{
        left: 0;
        top: 130px;
        max-width: 100%;
        width: 100%;
        height: 100%;
        padding: 0 20px;
        overflow-x: scroll;
    }

    .navigation-wrapper .gallery-wrapper{
        height: 100%;
        width: max-content;
    }

    .navigation-wrapper .gallery-wrapper .image-wrapper{
        height: 300px;
        width: 200px;
    }

}