.introduction{
    background-color: #797676;
    display: grid;
    grid-template-columns: 35% 25% 15%;
    height: 100%;
    overflow-y: hidden;
}

.introduction .image-wrapper-banner{
    height: 100vh;
    width: 100%;
    border-right: solid 1px rgba(27, 22, 20, 0.29);
}

.introduction .content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.introduction .content .title{
    color: rgba(233, 233, 233, 0.71);
    letter-spacing: 20px;
    padding-right: 20px;
}

.introduction .numbering{
    position: absolute;
    right: 50px;
    bottom: 50px;
}


/*scroll down animation*/
.introduction .content .scroll-down-animation{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px 0;
}

.introduction .content .scroll-down-animation .paragraph{
    color: rgba(233, 233, 233, 0.71);
    letter-spacing: 4px;
    padding-right: 20px;
}

.introduction .content .scroll-down-animation .arrow-down{
    padding-right: 20px;
}

.introduction .content .scroll-down-animation .arrow-down span{
    display: block;
    height: 20px;
    width: 20px;
    border-bottom: solid 1px rgba(233, 233, 233, 0.71);
    border-right: solid 1px rgba(233, 233, 233, 0.71);
    transform: rotate(45deg);
    margin: -10px;
    animation: animate-arrow 2s infinite;
}

.introduction .content .scroll-down-animation .arrow-down span:nth-child(2){
    animation-delay: -0.2s;
}

.introduction .content .scroll-down-animation .arrow-down span:nth-child(3){
    animation-delay: -0.4s;
}

@keyframes animate-arrow {
    0%{
        opacity: 0;
        transform: rotate(45deg) translate(-10px, -10px);
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        transform: rotate(45deg) translate(10px, 10px);
    }
}
/* end scroll down animation*/