.page-shop{
    padding-top: 60px;
}

.page-shop .image-wrapper{
    height: 400px;
    width: 100%;
}

.page-shop .container{
    max-width: 1336px;
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    height: 100%;
    overflow: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.page-shop .container::-webkit-scrollbar,
.page-shop .product-detail::-webkit-scrollbar{
    display: none;
}

.page-shop .intro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
    border-top:solid 1px rgba(51, 51, 51, 0.11);
}

.page-shop .intro span{
    font-family: 'Somatic Rounded', sans-serif;
    font-size: 16px;
    color: rgba(51, 51, 51, 0.69);
}

.page-shop .intro .title{
    font-family: 'Plantagenet Cherokee', sans-serif;
    text-transform: capitalize;
    font-size: 42px;
    line-height: 46px;
}

.page-shop .product-list{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content:center;
    gap: 60px 40px;
}

.page-shop .product .title{
    font-family: 'Plantagenet Cherokee', sans-serif;
    font-weight: 100;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 22px;
    letter-spacing: 2px;
    color: #1B1614;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    height: 50px;
}

.page-shop .product-list .product{
    max-width: 300px;
    width: 100%;
    cursor: pointer;
    position: relative;
    z-index: 999;
}

.page-shop  button{
    border: none;
    outline: none;
    cursor: pointer;
    background-color: transparent;
}

.page-shop .product-list .product .image-wrapper{
    border: solid 2px transparent;
    transition: all 0.5s ease;
    position: relative;
}

.page-shop .product-list .product .image-wrapper::after{
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.53);
    z-index: 10;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s linear;
}

.page-shop .favorite-btn{
    height: 20px;
    width: 20px;
    position: absolute;
    left: 20px;
    /*top: 45vh;*/
    top: 350px;
    z-index: 9999;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s linear;
}

.page-shop .product-list .product:hover > .product-wrapper .image-wrapper{
    border-top: solid 2px #1B1614;
    border-bottom: solid 2px #1B1614;
}

.page-shop .product-list .product:hover > .favorite-btn,
.page-shop .product-list .product:hover > .product-wrapper .image-wrapper:after{
    visibility: visible;
    opacity: 1;
}

.page-shop .product-list .product .title{
    margin-top: 10px;
    width: 100%;
}

.page-shop .product-list .product .buy-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.page-shop .product-list .product .product-wrapper .price-wrapper{
    display: flex;
    flex-direction: row;
    gap: 0 20px;
}

.page-shop .price{
    font-family: 'Plantagenet Cherokee', sans-serif;
    font-size: 18px;
    color: black;
}

.page-shop .price.old-price{
    color: rgba(162, 142, 112, 0.69);
    text-decoration: line-through;
}

.page-shop .product-list .product .buy-wrapper .add-btn{
    height: 20px;
    width: 20px;
    transition: all 0.5s ease;
    cursor: pointer;
    position: relative;
    z-index: 9999;
}

.page-shop .product-list .product .buy-wrapper .add-btn:hover,
.page-shop .product-list .product .favorite-btn:hover{
    transform: scale(1.2);
    transition: all 0.5s ease;
}

.page-shop .product-list .product .buy-wrapper .add-btn img,
.page-shop .product-list .product .favorite-btn img{
    height: 100%;
    width: 100%;
    object-fit: contain;
}

/*javascript styles active*/
body.show-details .product-detail {
    visibility: visible;
    opacity: 1;
}
/*end javascript styles active*/